@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

body,
h1 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: 'SpoqaHanSansNeo-Regular';
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.container {
  position: absolute;
  width: 350px;
  height: 140px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  padding: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login_title {
  font-size: 12px;
  margin: 12px 0;
}

.login_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 40px;
  background-color: #711bff;
  color: white;
  font-size: 12px;
  border: none;
  border-radius: 4px;
  outline: none;
  margin: 16px 0;
}

.logo_img {
  background-color: transparent;
  width: 60px;
  margin-right: 5px;
}

.login_information {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
  padding: 0 3px;
}

.id_password {
  vertical-align: middle;
}

.id_password span {
  font-size: 12px;
}

.id,
.password {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 12px;
  color: #767676;
}

.lock_img {
  vertical-align: middle;
  width: 16px;
  height: 16px;
}

.user_img {
  vertical-align: middle;
  width: 16px;
  height: 16px;
}

.signup_btn {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 12px;
  color: #767676;
}
